*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.log
*_dump.xml
dump.xml
m10_home.png
m13_home.png
phone_gate.png

